.aside {
  max-width: 350px;
  margin-top: 25px;
  background: #1e2939;
}

@media (max-width: 750px) {
  .aside {
    max-width: 100%;
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 750px) and (max-width: 1000px) {
  .aside {
    max-width: 100%;
    height: 750px;
    display: flex;
  }
}

.aside__container {
  width: 100%;
}

@media (max-width: 750px) {
  .aside__container {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 10px;
    margin: 0px;
  }
}

@media (min-width: 500px) and (max-width: 1000px) {
  .aside__container {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
  }
}

.cv-photo {
  max-width: 350px;
}

@media (max-width: 1000px) {
  .cv-photo {
    padding: 10px;
    max-width: 100%;
    height: auto;
    border-radius: 30px;
  }
}
