.contact {
  max-width: 300px;
  margin: 40px 20px;
}

@media (max-width: 1000px) {
  .contact {
    margin: 0px 20px;
  }
}

.contact__header {
  font-size: 26px;
  color: #ffffff;
}

.contact__icon {
  width: 16px;
  margin-right: 5px;
}

.contact__listItem {
  color: #ffffff;
  padding: 0px;
  list-style: none;
}

.contact__listItem li {
  font-size: 16px;
  line-height: 175%;
}
