.portfolio {
  margin-bottom: 40px;
}

.portfolio__header {
  font-size: 26px;
  font-weight: 700;
}

.portfolio__title {
  color: #000000;
  margin: 10px;
}

.portfolio__list {
  line-height: 24px;
  padding-left: 0;
  list-style-position: inside;
  color: #666;
}

.portfolio__list a {
  text-decoration: none;
  color: #f24100;
  padding: 0 10px;
  transition: 0.3s;
  font-weight: bold;
}

.portfolio__list a:hover {
  background-color: #f24100;
  border-radius: 2rem;
  color: #ffffff;
}
