.skills {
  max-width: 300px;
  margin: 40px 20px;
}

@media (max-width: 1000px) {
  .skills {
    margin: 0px 20px;
  }
}

.skills__header {
  font-size: 26px;
  color: #ffffff;
}

.skills__list {
  color: #fb6d3a;
  line-height: 24px;
  margin-left: 0px;
  padding-left: 0px;
  list-style-position: inside;
}

.skills__listItem {
  color: #ffffff;
}
